@page "/posts"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using IntroProject.Models
@using IntroProject.Data
@implements IAsyncDisposable
@inject IDbContextFactory<IntroProject.Data.IntroProjectContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="posts/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Post">
    <PropertyColumn Property="post => post.Contents" />
    <PropertyColumn Property="post => post.User_id" />
    <PropertyColumn Property="post => post.Post_id" />

    <TemplateColumn Context="post">
        <a href="@($"posts/edit?post_id={post.Post_id}")">Edit</a> |
        <a href="@($"posts/details?post_id={post.Post_id}")">Details</a> |
        <a href="@($"posts/delete?post_id={post.Post_id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private IntroProjectContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
