################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/COMP-49X-24-25-gtrit-prism-intro-project/FileContentIndex
/IntroProject/.vs/IntroProject/FileContentIndex