################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/COMP-49X-24-25-gtrit-prism-intro-project/FileContentIndex
/IntroProject/.vs/IntroProject/FileContentIndex
/IntroProject/obj/Debug/net8.0/IntroProject.AssemblyInfoInputs.cache
/IntroProject/obj/Debug/net8.0/IntroProject.AssemblyInfo.cs
/IntroProject/.vs/IntroProject/DesignTimeBuild/.dtbcache.v2
