@page "/wfposts/edit"
@using Microsoft.EntityFrameworkCore
@using IntroProject.Models
@inject IDbContextFactory<IntroProject.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>WFPost</h2>
<hr />
@if (WFPost is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="WFPost" OnValidSubmit="UpdateWFPost" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="WFPost.PostId" value="@WFPost.PostId" />
                <div class="mb-3">
                    <label for="userid" class="form-label">UserId:</label>
                    <InputText id="userid" @bind-Value="WFPost.UserId" class="form-control" />
                    <ValidationMessage For="() => WFPost.UserId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="content" class="form-label">Content:</label>
                    <InputText id="content" @bind-Value="WFPost.Content" class="form-control" />
                    <ValidationMessage For="() => WFPost.Content" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/wfposts">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int PostId { get; set; }

    [SupplyParameterFromForm]
    private WFPost? WFPost { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        WFPost ??= await context.Posts.FirstOrDefaultAsync(m => m.PostId == PostId);

        if (WFPost is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateWFPost()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(WFPost!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!WFPostExists(WFPost!.PostId))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/wfposts");
    }

    private bool WFPostExists(int postid)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Posts.Any(e => e.PostId == postid);
    }
}
