@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to the Web Forum</h1>

Welcome to our web forum! Here, you can view posts and comments on various topics. If you log in, you can also create your own posts and comments.
